<h2>All Runs</h2>

<table class="striped bordered">
  <div>
  <%= link_to "Add your Run", runs_new_path, { :class => "button waves-effect waves-light btn" } %>
  </div>

  <table class="striped bordered">
    <tr>
      <th>RUN ID</th>
      <th>START TIME</th>
      <th>DISTANCE</th>
      <th>STOP TIME</th>
      <th>TOTAL RUN TIME</th>
    </tr>
  </table>

  <table class="striped bordered">
      <% @runs.each do |run| %>
        <%= link_to run_url(run) do %>
          <tr>
          <td><%=run[:id]%></td>
          <td><%=run.start_time%></td>
          <td><%=run.distance%></td>
          <td><%=run.end_time %></td>
          <td><%=run.end_time.hour - run.start_time.hour%>hr <%=run.end_time.min-run.start_time.min%>min <%=run.end_time.min - run.start_time.min%>sec</td>
        <% end %>
      <% end %>
    </tr>
  </table>
